/* mobile/Main styles here*/
/* screen cover*/
body {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 2;
  z-index: 9999;
  animation: fadeOut 20s forwards;
  text-align: center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading {
  display: flex;
  padding: 120px;
  margin-top: 200px;
  animation: fadeOutAnimation ease 10s;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay + .loading {
  padding-top: 60px;
}

.loading span {
  width: 35px;
  height: 35px;
  margin: 0px 5px;
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-block;
  inset: 0;
  pointer-events: none;
  animation-name: dots;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards, none;
}
.loading span:nth-child(2) {
  background-color: #ff79da;
  animation-delay: 0.2s;
}
.loading span:nth-child(3) {
  background-color: #99e2d0;
  animation-delay: 0.3s;
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.5) translateY(5px);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  flex-direction: row;
}
.flex-star {
  display: flex;
  justify-content: center;
  transition: 0.3s;
  padding-bottom: 50px;
}

#logo {
  width: 180px;
  height: 40px;
  margin: 20px;
}

.location {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 300px;
}

.lns {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: baseline;
  background-color: rgb(232, 227, 227);
}
.h3 {
  display: block;
  font-family: serif thin;
  font-size: 1rem;
  font-weight: 90;
  color: black;
  padding-bottom: 20px;
}
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 10px;
  font-size: 1rem;
  color: #fff;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
}
.h2 {
  margin-left: 8px;
  font-family: "Shrikhand", serif;
}

.steps {
  display: flex;
  width: 100%;
  padding-top: 20px;
  flex-direction: column;
  column-gap: 4px;
  padding-bottom: 20px;
}
.buttons {
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  position: relative;
  background: #ffffff;
  font-weight: bold;
  padding: 2rem;
  margin: 1rem;
  background: #f2f2f2;
  box-shadow: inset -5px -5px #e6e6e6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

.buttons:hover {
  background-color: rgb(243, 228, 243);
}

.iconf {
  margin: 10px;
}
.list {
  list-style: none;
  counter-reset: li;
}
.list .buttons::before {
  content: counter(li);
  counter-increment: li;
  background: #9356dc;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  height: 2rem;
  display: grid;
  place-items: center;
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

body {
  margin: 1px;
}
.flex-container {
  flex-direction: column-reverse;
}
.flex-restaurants {
  background-color: #f2f2f2;
  border: 2px solid white;
}
.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.content {
  margin: 10px 10px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d1d1d1;
  display: flex;
  flex-direction: column;
}

.content > figure {
  display: contents;
}
.content5 {
  text-decoration: none;
}

.image {
  display: flex;
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.image1 {
  position: relative;
  text-align: center;
}
.caption {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  line-height: 1.5;
  background: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*HEARTS*/
.heart {
  position: relative;
}
.rating {
  display: flex;
  padding-top: 45px;
  padding-left: 0px;
  transform: scale(2);
}
.rating:hover {
  fill: #9356dc;
  color: #9356dc;
}
.rating2 {
  display: flex;
  padding-top: 45px;
  padding-left: 0px;
  transform: scale(2);
  color: #9356dc;
  opacity: 0;
}
.rating,
.rating2 {
  position: absolute;
  top: 0;
  left: -30px;
  width: 1px;
  height: 100px;
  transition: opacity 0.3s ease-in-out;
}
.heart:hover .rating {
  opacity: 0;
}
.heart:hover .rating2 {
  opacity: 1;
  color: #9356dc;
}

.newtag {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(153, 226, 208);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  color: green;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 1000;
  height: 19px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  position: absolute;
  right: 10px;
  text-decoration-thickness: auto;
  top: 10px;
  width: 31px;
  border-radius: 4px;
}

/*FOOTER*/
.footer {
  background-color: rgb(50, 54, 54);
  color: white;
}
.name {
  font-family: "shrikhand";
  padding-left: 4px;
}
.endcontainor {
  flex-direction: column;
  text-align: left;
  display: flex;
  gap: 10px;
}
ul {
  list-style: none;
  line-height: 2;
}
a {
  text-decoration: none;
  color: inherit;
}

.footer-col {
  width: 50%;
  padding: 0px 15px;
  font-size: small;
  justify-content: space-between;
}
.footer-col h4 {
  font-size: medium;
  margin-bottom: 200px;
  align-content: center;
}

/***************************SUBPAGES  PHONES*******************/

.Order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 10px;
  font-size: 1rem;
  color: #fff;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
}
.buttons {
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  position: relative;
  background: #ffffff;
  font-weight: bold;
  padding: 2rem;
  margin: 1rem;
  background: #f2f2f2;
  box-shadow: inset -5px -5px #e6e6e6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

.buttons:hover {
  background-color: rgb(243, 228, 243);
}
.menuitemprice {
  font-weight: bold;
}
.b {
  font-weight: bold;
}
.menuitem {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.heroimg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}
.containermenu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 3;
  position: relative;
}

.name2 {
  font-family: "shrikhand";
  padding-left: 4px;
  padding-top: 50px;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}

.menuheader {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  z-index: 2;
  margin-top: -15%;
  background-color: #f6f6f6;
  position: absolute;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.submenus {
  display: grid;
}
.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 2rem;
}

section {
  display: block;
}

section {
  display: block;
}

.submenutitle {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
  padding-top: 90px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.submenutitle:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.checkmark,
.menuitemicon {
  height: 9rem;
  width: 5rem;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.15s;
}

.checkmark {
  background-color: #99e2d0;
  display: none;
  overflow-x: hidden;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  transition: all 0.5s ease-in-out;
}

section:hover .checkmark {
  background-color: #99e2d0;
  display: block;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  animation: slideFromRight 0.5s forwards;
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* display animations */
section {
  display: block;
}

.delay-0 {
  animation-delay: 0.1s;
}
.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.7s;
}
.delay-4 {
  animation-delay: 0.9s;
}
.delay-5 {
  animation-delay: 0.11s;
}
.delay-6 {
  animation-delay: 0.13s;
}
.delay-7 {
  animation-delay: 0.15s;
}
.delay-8 {
  animation-delay: 0.17s;
}

.wrapbutton {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

/* tablet here - set min/max */
@media screen and (max-width: 1180px) and (min-width: 820px) {
  header {
    flex-direction: row;
  }
  .flex-star {
    display: flex;
    justify-content: center;
  }
  #logo {
    width: 180px;
    height: 40px;
    margin: 20px;
  }
  .loading {
    padding-left: 350px;
  }

  .location {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 300px;
  }

  .lns {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    background-color: rgb(232, 227, 227);
  }
  .h3 {
    font-size: small;
    font-weight: 90;
  }
  .explore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    padding: 20px 20px;
    font-size: 1.2rem;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
  }
  .h2 {
    align-items: center;
    margin-left: 8px;
    font-family: "Shrikhand", serif;
  }
  .list {
    list-style: none;
    counter-reset: li;
    display: flex;
    padding: 5px;
  }
  .steps {
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    column-gap: 8px;
    padding-bottom: 20px;
  }

  .buttons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 50px;
    padding: 20px 20px;
  }
  .iconf {
    margin: 10px;
  }

  body {
    margin: 1px;
  }

  .flex-restaurants {
    background-color: #f2f2f2;
    border: 2px solid white;
  }
  .maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .content {
    margin: 10px 10px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #d1d1d1;
    display: flex;
    flex-direction: column;
  }

  .content > figure {
    display: contents;
  }
  .content5 {
    text-decoration: none;
  }

  .image {
    display: flex;
    width: 98%;
    height: 185px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .caption {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    line-height: 1.5;
    background: white;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /*HEARTS*/
  .heart {
    position: relative;
  }
  .rating {
    display: flex;
    padding-top: 45px;
    padding-left: 0px;
    transform: scale(2);
  }
  .rating:hover {
    fill: #9356dc;
    color: #9356dc;
  }
  .rating2 {
    display: flex;
    padding-top: 45px;
    padding-left: 0px;
    transform: scale(2);
    color: #9356dc;
    opacity: 0;
  }
  .rating,
  .rating2 {
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 100px;
    transition: opacity 0.3s ease-in-out;
  }
  .heart:hover .rating {
    opacity: 0;
  }
  .heart:hover .rating2 {
    opacity: 1;
    color: #9356dc;
  }

  .footer {
    background-color: rgb(50, 54, 54);
    color: white;
  }
  .endcontainor {
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: 10px;
  }
  ul {
    list-style: none;
    line-height: 2;
  }

  .footer-col {
    width: 100%;
    padding: 20px 15px;
    font-size: 30px;
    justify-content: space-between;
  }
  .footer-col h4 {
    font-size: medium;
    margin-bottom: 200px;
    align-content: center;
  }
}
/* desktop here - set min/max */
@media screen and (max-width: 1920px) and (min-width: 1080px) {
  header {
    flex-direction: row;
  }
  .flex-star {
    display: flex;
    justify-content: center;
  }
  #logo {
    width: 300px;
    height: 80px;
    margin: 40px;
  }

  .location {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 300px;
  }
  .loading {
    padding-left: 650px;
  }

  .lns {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    background-color: rgb(232, 227, 227);
  }
  .h3 {
    font-size: small;
    font-weight: 90;
  }
  .explore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    padding: 20px 20px;
    font-size: 1.2rem;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
  }
  .h2 {
    align-items: center;
    margin-left: 8px;
    font-family: "Shrikhand", serif;
  }
  .list {
    list-style: none;
    counter-reset: li;
    display: flex;
    padding: 5px;
  }
  .steps {
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    column-gap: 8px;
    padding-bottom: 20px;
  }
  .ol .li .buttons {
    display: flex;
    flex-direction: row;
  }
  .buttons {
    margin: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 50px;
    padding: 20px 20px;
  }
  .iconf {
    margin: 10px;
  }

  body {
    margin: 1px;
  }

  .flex-restaurants {
    background-color: #f2f2f2;
    border: 2px solid white;
  }
  .maincontent {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .content {
    margin: 10px 10px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #d1d1d1;
    display: flex;
    flex-direction: column;
  }

  .content > figure {
    display: contents;
  }
  .content5 {
    text-decoration: none;
  }

  .image {
    display: flex;
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .caption {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    line-height: 1.5;
    background: white;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /*HEARTS*/
  .heart {
    position: relative;
  }
  .rating {
    display: flex;
    padding-top: 45px;
    padding-left: 0px;
    transform: scale(2);
  }
  .rating:hover {
    fill: #9356dc;
    color: #9356dc;
  }
  .rating2 {
    display: flex;
    padding-top: 45px;
    padding-left: 0px;
    transform: scale(2);
    color: #9356dc;
    opacity: 0;
  }
  .rating,
  .rating2 {
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 100px;
    transition: opacity 0.3s ease-in-out;
  }
  .heart:hover .rating {
    opacity: 0;
  }
  .heart:hover .rating2 {
    opacity: 1;
    color: #9356dc;
  }

  .footer {
    background-color: rgb(50, 54, 54);
    color: white;
  }
  .endcontainor {
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: 10px;
  }
  ul {
    list-style: none;
    line-height: 2;
  }
  .footer-col {
    width: 100%;
    padding: 0px 15px;
    font-size: 20px;
    align-content: center;
  }
  .name {
    font-family: "shrikhand";
    font-size: 50px;
    padding-left: 20px;
  }
}

/*****SUBPAGES PC********/
.body {
  margin-left: 500px;
  max-width: 500px;
}
.heroimg {
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}

.menuheader {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  z-index: 2;
  margin-top: -4%;
  background-color: #f6f6f6;
  position: absolute;
}
